{% extends "base.html.twig" %}
{% block title %}
	Nouveau Réalisateur
{% endblock %}

{% block body %}
	<div class="container bg-dark text-white p-3 mt-5">
		<h1>Ajouter un réalisateur</h1>

		{{ form_start(form)}}
		{{ form_row (form.firstName)}}
		{{ form_row (form.lastName)}}
		{{ form_row (form.nationality)}}

		<button type='submit'>Enregistrer</button>

		{{ form_end(form)}}
	</div>
{% endblock %}
